*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color:#70D727;
  --main-bg-light: #ffddc1;
  --ancient-bg-dark: #0e0908;
  --ancient-bg-grey:#9b9d9e;
  --aancient-clr-redish:#9e1313
  
}
body {
 
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: var(--ancient-bg-color);
     background: url('https://images.unsplash.com/photo-1615937722923-67f6deaf2cc9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: auto;
    background-size: cover;
    opacity: 0.8; 

    font-family: 'Yanone Kaffeesatz', sans-serif;
}


